In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('transaction.csv')
labels = set(df['company label'])
print (labels)
salary_segmentation = [10000,50000,100000,500000,1000000]
df

{'Clothing', 'Investment', 'Transport', 'Beauty', 'Media', 'Entertainment', 'Grocery', 'Education', 'Stationery', 'Dining'}

,time,name,gender,age,company name,company label,amount,salary
0,2017-07-02 22:27:48,Rachel Trujillo,male,36,Coursera Inc.,Education,111.22,347740
1,2017-06-10 12:37:05,Rachel Trujillo,male,36,Laura Mercier Cosmetics.,Beauty,108.46,347740
2,2017-06-07 14:24:02,Rachel Trujillo,male,36,Synovus Financial Corp.,Investment,208.21,347740
3,2017-06-25 15:36:22,Rachel Trujillo,male,36,Peak Tramways Company Limited,Transport,222.79,347740
4,2017-06-30 03:34:48,Rachel Trujillo,male,36,McDonald' s,Dining,86.28,347740
5,2017-06-29 18:00:00,Rachel Trujillo,male,36,Pearson plc,Education,47.68,347740
6,2017-06-30 21:34:26,Rachel Trujillo,male,36,Wal-Mart Stores Inc,Grocery,93.69,347740
7,2017-07-04 11:57:56,Rachel Trujillo,male,36,Principal Financial Group Inc,Investment,115.46,347740
8,2017-06-13 06:54:58,Rachel Trujillo,male,36,"Voya Financial, Inc.",Investment,142.11,347740
9,2017-07-02 18:23:56,Rachel Trujillo,male,36,"The Dairy Farm Company, Limited",Grocery,61.87,347740
10,2017-06-17 03:32:26,Rachel Trujillo,male,36,"2U, Inc.",Education,280.35,347740
11,2017-07-03 13:44:19,Rachel Trujillo,male,36,City Super Limited,Grocery,281.82,347740
12,2017-06-16 16:16:17,Rachel Trujillo,male,36,GAP,Clothing,9.13,347740
13,2017-06-17 01:17:02,Rachel Trujillo,male,36,Subway,Dining,104.77,347740
14,2017-06-21 11:14:37,Rachel Trujillo,male,36,"KOKUYO Co.,Ltd.",Stationery,300.88,347740
15,2017-06-11 21:15:08,Rachel Trujillo,male,36,"Raymond James Financial, Inc.",Investment,33.22,347740
16,2017-06-14 11:45:03,Rachel Trujillo,male,36,"KOKUYO Co.,Ltd.",Stationery,297.04,347740
17,2017-07-03 21:29:17,Rachel Trujillo,male,36,Liberty Stationery Corp.,Stationery,133.08,347740
18,2017-06-20 09:04:47,Rachel Trujillo,male,36,Ikari Area,Entertainment,9.43,347740
19,2017-06-10 18:31:22,Rachel Trujillo,male,36,"The 'Star' Ferry Company, Limited",Transport,201.96,347740
20,2017-07-05 20:58:23,Rachel Trujillo,male,36,Tim Ho Wan,Dining,292.67,347740
21,2017-06-23 20:15:43,Rachel Trujillo,male,36,BB Liquidating Inc,Media,163.39,347740
22,2017-06-24 15:32:14,Rachel Trujillo,male,36,Parker Pen Company,Stationery,260.15,347740
23,2017-06-24 04:00:43,Rachel Trujillo,male,36,Le.com,Media,149.06,347740
24,2017-07-04 03:13:19,Rachel Trujillo,male,36,J. Crew,Clothing,273.85,347740
25,2017-06-12 00:30:44,Rachel Trujillo,male,36,"Voya Financial, Inc.",Investment,93.04,347740
26,2017-06-20 09:50:33,Rachel Trujillo,male,36,Neway Karaoke Box Limited,Entertainment,239.05,347740
27,2017-06-22 22:08:41,Rachel Trujillo,male,36,TCF Financial Corporation,Investment,244.24,347740
28,2017-06-11 13:26:35,Rachel Trujillo,male,36,Principal Financial Group Inc,Investment,117.48,347740
29,2017-07-04 09:40:59,Rachel Trujillo,male,36,Laura Mercier Cosmetics.,Beauty,134.45,347740
...,...,...,...,...,...,...,...,...
399970,2017-06-12 23:41:20,Kelsey Jones,male,50,Sumitomo Mitsui Financial Group Inc,Investment,16.89,570823
399971,2017-06-29 22:55:52,Kelsey Jones,male,50,"Udacity, Inc.",Education,197.18,570823
399972,2017-06-08 21:36:12,Kelsey Jones,male,50,Staedtler Mars GmbH & Co. KG,Stationery,81.63,570823
399973,2017-06-07 07:32:09,Kelsey Jones,male,50,"Waddell & Reed Financial, Inc.",Investment,258.03,570823
399974,2017-06-30 10:49:34,Kelsey Jones,male,50,"Shenzhen Comix Stationery Co., Ltd.",Stationery,200.22,570823
399975,2017-06-29 10:25:22,Kelsey Jones,male,50,Hong Kong Dragon Airlines Ltd,Transport,16.32,570823
399976,2017-07-02 23:05:33,Kelsey Jones,male,50,Maxim' s Catering,Dining,265.12,570823
399977,2017-06-14 09:14:25,Kelsey Jones,male,50,Shinhan Financial Group Co Ltd,Investment,113.96,570823
399978,2017-06-16 23:01:34,Kelsey Jones,male,50,The Kowloon Motor Bus Company Limited,Transport,51.15,570823
399979,2017-06-30 20:05:53,Kelsey Jones,male,50,Xbox,Entertainment,233.69,570823
399980,2017-06-14 11:43:47,Kelsey Jones,male,50,J. Crew,Clothing,141.99,570823
399981,2017-06-07 09:19:46,Kelsey Jones,male,50,New World First Bus Services Limited,Transport,197.35,570823
399982,2017-06-28 11:42:38,Kelsey Jones,male,50,edX Inc.,Education,294.94,570823
399983,2017-06-13 14:28:37,Kelsey Jones,male,50,Yadkin Financial Corporation,Investment,52.28,570823
399984,2017-06-17 13:29:12,Kelsey Jones,male,50,"Netflix, Inc.",Media,31.73,570823
399985,2017-06-15 06:16:08,Kelsey Jones,male,50,Ikari Area,Entertainment,201.77,570823
399986,2017-06-23 18:05:50,Kelsey Jones,male,50,Levi Strauss & Co.,Clothing,272.93,570823
399987,2017-06-16 12:47:34,Kelsey Jones,male,50,Spotify AB,Media,114.97,570823
399988,2017-06-22 20:57:56,Kelsey Jones,male,50,Cathay Pacific Airways,Transport,71.12,570823
399989,2017-06-26 04:56:07,Kelsey Jones,male,50,Coursera Inc.,Education,275.30,570823
399990,2017-07-02 17:11:21,Kelsey Jones,male,50,Code School LLC.,Education,92.36,570823
399991,2017-06-16 02:28:35,Kelsey Jones,male,50,Ryze Ultimate Trampoline Park Hong Kong,Entertainment,283.62,570823
399992,2017-07-04 20:10:37,Kelsey Jones,male,50,"Redbox Automated Retail, LLC.",Media,169.40,570823
399993,2017-06-17 02:49:32,Kelsey Jones,male,50,McDonald' s,Dining,55.72,570823
399994,2017-06-28 08:49:46,Kelsey Jones,male,50,Long Win Bus Company Limited,Transport,156.04,570823
399995,2017-07-02 21:33:10,Kelsey Jones,male,50,New Oriental Education & Tech Grp,Education,39.57,570823
399996,2017-06-26 10:09:42,Kelsey Jones,male,50,Xbox,Entertainment,222.35,570823
399997,2017-06-13 04:40:07,Kelsey Jones,male,50,Tim Ho Wan,Dining,163.53,570823
399998,2017-06-13 16:58:51,Kelsey Jones,male,50,G2000,Clothing,16.58,570823
399999,2017-07-05 07:28:44,Kelsey Jones,male,50,"FANCL International, Inc.",Beauty,211.63,570823

In [12]:
def getPersonalAnalysis(name):
    # percentage among all ppl
    personal = df.loc[df['name'] == name, ['company name', 'company label', 'amount']]
    output = []
    for label in labels:
        amount = sum(personal.loc[personal['company label'] == label,'amount'])
        output.append({'name': label, 'amount': amount, 'drilldown':label})
    return output
getPersonalAnalysis('Rachel Trujillo')

[{'amount': 922.05999999999995, 'drilldown': 'Grocery', 'name': 'Grocery'},
 {'amount': 470.12, 'drilldown': 'Media', 'name': 'Media'},
 {'amount': 591.98000000000002, 'drilldown': 'Transport', 'name': 'Transport'},
 {'amount': 991.15000000000009,
  'drilldown': 'Stationery',
  'name': 'Stationery'},
 {'amount': 282.98000000000002, 'drilldown': 'Clothing', 'name': 'Clothing'},
 {'amount': 869.60000000000002, 'drilldown': 'Dining', 'name': 'Dining'},
 {'amount': 953.75999999999999,
  'drilldown': 'Investment',
  'name': 'Investment'},
 {'amount': 523.06999999999994, 'drilldown': 'Beauty', 'name': 'Beauty'},
 {'amount': 439.25, 'drilldown': 'Education', 'name': 'Education'},
 {'amount': 332.56, 'drilldown': 'Entertainment', 'name': 'Entertainment'}]

In [4]:
# criteria :a list ['gender', 'age','salary']
# detail: if True, return detailed information
def getComparison(name, criteria , target='category'):
    personal = df.loc[df['name'] == name, ['age','salary','gender','company label', 'amount']]
    age = personal.iloc[0]['age']
    salary = personal.iloc[0]['salary']
    gender = personal.iloc[0]['gender']
    selectedDf = df
    criteria = set(criteria)
    if 'gender' in criteria:
        selectedDf = selectedDf.loc[selectedDf['gender'] == gender]
    if 'salary' in criteria:
        lowThresh = None
        highThresh = None
        
        for s in salary_segmentation:
#             print (s)
            if salary < s:
#                 print (s)
                if s == salary_segmentation[0]:
                    highThresh = s
                elif s == salary_segmentation[-1]:
                    lowThresh = s
                else:
                    index = salary_segmentation.index(s)
                    lowThresh = salary_segmentation[index-1]
                    highThresh = salary_segmentation[index]
                break
        print (lowThresh)
        print(highThresh)
        if lowThresh is not None: 
            print ('fff')
            selectedDf = selectedDf.loc[selectedDf['salary'] >= lowThresh]
        if highThresh is not None: 
            selectedDf = selectedDf.loc[selectedDf['salary'] < highThresh]
    if 'age' in criteria:
        lowThresh = age-age%10
        highThresh = lowThresh+9
        selectedDf = selectedDf.loc[selectedDf['age'] >= lowThresh]
        selectedDf = selectedDf.loc[selectedDf['age'] < highThresh]
    output = []
    if target=='percentage':
        output={}
    num_people= len(set(selectedDf.name))
    for label in labels:
        if target == 'category':
            amount = sum(selectedDf.loc[selectedDf['company label'] == label,'amount'])/len(selectedDf.loc[selectedDf['company label'] == label,'amount'])
            output.append({'name': label, 'amount': amount, 'drilldown':label})
            
        elif target == 'percentage':
            
            output['total_people'] = num_people
            amountList = []
            for name in set(selectedDf.name):

                thatPersonDf = selectedDf.loc[selectedDf['name'] == name]
    #             print(thatPersonDf)
    #             print (thatPersonDf.loc[thatPersonDf['company label'] == label, 'amount'].dtype)
                amount = (thatPersonDf.loc[thatPersonDf['company label'] == label, 'amount']).sum()
                amountList.append(amount)
            amountList.sort()

            thisPersonAmount = sum(personal.loc[personal['company label'] == label, 'amount'])
            index = amountList.index(thisPersonAmount)
            output[label] = {'index':index, 'percentage': (index+0.0)/ num_people, 'amount_list':amountList}
    print ('loaded')
    return output
    

getComparison('Rachel Trujillo', ['gender','age'], target='percentage')

KeyboardInterrupt: